@import "tailwindcss";

:root {
  /* color-scheme: light dark; */
  background-color: #fff;

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --grey: #CACACA;
  --lg-grey: #E8E8E8;
  --dk-grey: #282828;

  --icon: #1E1E1E;
}

.bg-grey-fade{
  background: linear-gradient(to bottom,#CACACA, #646464);
}

/* @theme {

} */




/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */